# Byte-code files
*.pyc
__pycache__/

# Virtual environment
.venv/
venv/
env/

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Other common ignored files
*.log
*.sqlite3
.env
